# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio crap
*.sln
*.sdf
*.opensdf
*.suo
*.vcxproj.filters
*.vcxproj.user
ipch
Debug
Release